@model RegisterModel
<div class="container">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" type="email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="ConfirmPasword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPasword" class="form-control" type="password" />
            <span asp-validation-for="ConfirmPasword" class="text-danger"></span>
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-success">Register</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>